0			# Power manager (0: pm-utils / 1: systemd)
chinachu		# User for Chianchu
/home/chinachu/chinachu	# Directory where Chinachu is installed
http://localhost:20772	# Chinachu URL
5			# Period of running the cron [min.]
600			# Room between the next wake up and the next recording [sec.]
900			# Period to not go into sleep after waking up [sec.]
3600			# Period to not go into sleep before the next recording [sec.]
05:55 17:55             # Times of updating EPG forcibly
